@font-face {
	font-family: "icomoon";
	src: url("./fonts/icomoon.eot?cq27w8");
	src: url("./fonts/icomoon.eot?cq27w8#iefix") format("embedded-opentype"),
		url("./fonts/icomoon.ttf?cq27w8") format("truetype"),
		url("./fonts/icomoon.woff?cq27w8") format("woff"),
		url("./fonts/icomoon.svg?cq27w8#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mailto:before {
	content: "\e945";
}
.icon-instagram:before {
	content: "\ea92";
}
.icon-twitter:before {
	content: "\ea96";
}
.icon-github:before {
	content: "\eab0";
}
.icon-linkedin:before {
	content: "\eac9";
}
.icon-git:before {
	content: "\eae7";
}


@import '/Styles/Templates/Content.scss';
@import '/Styles/Templates/Header.scss';
@import '/Styles/Components/UserInf.scss';
@import '/Styles/Components/LangSelector.scss';
@import '/Styles/Components/ListContacts.scss';
@import '/Styles/Components/portfolio.scss';
@import '/Styles/Components/ListPortfolio.scss';
@import '/Styles/Components/BoxBiography.scss';
